<div class="navbar-home-wagon navbar-fixed-top">
  <div></div>
    <div class="navbar-home-wagon-right hidden-xs hidden-sm">
      <%= link_to "Rent your bike", new_bike_path %>
      <a href="" class="navbar-wagon-item">Bikes</a>
      <a href="" class="navbar-wagon-item">Messages</a>
      <a href="" class="navbar-wagon-item">Saved</a>
      <a href="" class="navbar-wagon-item">Help</a>

      <% if user_signed_in? %>
        <div class="navbar-home-wagon-item">
          <div class="dropdown">
            <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
               <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                </ul>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        &ensp;&ensp;&ensp;
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>

          <!-- Dropdown appearing on mobile only -->
    <div class="navbar-home-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Bikes</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Saved</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
