<body class="background">
     <div class="banner">
      <div data-aos="fade-up" data-aos-duration="1000">
       <div class="banner-text" >
        <h1>bikenb</h1>
        <p>A bike, whenever, wherever.</p>
        &ensp;
        <p><%= link_to "Hop on !", bikes_path, class: "btn-medium" %></p>
      </div>
      </div>
     </div><
/body>
<!-- end of file -->
