<div class="banner">
     <div class="banner-content">
      <div data-aos="fade-up" data-aos-duration="2000">
       <div class="banner-text" >
        <h1>bikenb</h1>
        <p>A bike, whenever, wherever.</p>
        &ensp;


        <p><%= link_to "Hop on !", bikes_path, class: "btn-medium" %></p>
      </div>
      </div>
     </div>
</div>
<!-- end of file -->
