<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEST</title>
  </head>
  <body class="background" style="background-image: linear-gradient(-225deg, rgba(0,0,5,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%= image_path "background_img9.jpg" %>');">
     <div class="banner">
      <div data-aos="fade-up" data-aos-duration="1000">
       <div class="banner-text" >
        <h1>bikenb</h1>
        <p>A bike, whenever, wherever.</p>
        &ensp;
        <p><%= link_to "Hop on !", bikes_path, class: "btn-medium" %></p>
      </div>
      </div>
     </div>
  </body>
</html>
<!-- end of file -->
