<div class="banner">
     <div class="banner-content">
      <div data-aos="fade-up" data-aos-duration="2000">
       <div class="banner-text" >
        <h1>Pedalo</h1>
        <p>Un vélo, où que vous soyez.</p>
        &ensp;


        <p><%= link_to "En selle!", bikes_path, class: "btn-medium" %></p>
      </div>
      </div>
     </div>
</div>
<!-- end of file -->
