<%= simple_form_for [@bike, @reservation] do |b| %>
    <div class="datepicker-input">
     <%= b.input :starts_at, as: :string, required: true, input_html: {class: "datepicker"} %>
     <%= b.input :ends_at, as: :string, required: true, input_html: {class: "datepicker"} %>
    </div>
     <div class="text-center-show">
      <%= b.submit "Book this bike", class: "btn-medium-inside" %>
     </div>
<% end %>
