.btn-medium {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.btn-medium-inside {
  color: #6e727d;
  border: 1px solid #6e727d;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  background-color: white;
}

.btn-medium-inside a:hover {
  text-decoration: none;
  color: #6e727d;
}

.btn-medium-inline {
  color: #FF5A5F;
  font-size: 20px;
  background-color: white;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  font-weight: lighter;
  opacity: 1;
  padding-bottom: 5px;
  height: 40px;
}
