.btn-medium {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}
