
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-description {
  padding-left: 24px;
  padding-bottom: 10px;
}

.card-description h2 {
  font-size: 24px;
  margin: 10px 0;
}

.card-description p {
  font-size: 20px;
  opacity: 0.8;
  font-weight: lighter;
  margin: 0;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-bike {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  margin-right : 20px;
}

.card-bike:hover {
  transition: 0.3s;
  transform: translateY(-12px);
}

.card-image {
  height: 156px;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: center;
}

.card-bottom {
  height:7.5vh;
}

.container-card {
  padding-top: 10px;
  padding-bottom: 10vh;
  margin-right: 40px;
  margin-left: 40px;
}
