.form h1 {
  color: black;
  font-family: Open Sans;
}

.form {
  color: black;
}

.form {
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.background_image_form {
  background-image: url(image_path('background_new.jpg'));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
