body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1528629297340-d1d466945dc5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ef92ab342dceba763781e4dd9f9b396c&auto=format&fit=crop&w=1995&q=80");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}
