body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

.background {
    /* The image used */
    background-image: url(image_path("background_img9.jpg"));
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_img9.jpeg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

.form h1 {
  color: black;
  font-family: Karla;
}

.form {
  color: black;
}

.banner h1 {
  font-size: 70px;
}

.banner p {
  font-size: 20px;
  opacity: 0.9;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.banner h1, .banner p {
  margin: 0;
  text-align: center;
}

.banner {
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;

}

