body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 70px;
}

.background {
    /* The image used */
    background-image: url("background_img9.jpeg");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

h1 {
  font-size: 70px;
}

p {
  font-size: 20px;
  opacity: 0.9;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.banner h1, .banner p {
  margin: 0;
  text-align: center;
}

.banner {
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;

}
