.style_all_website h1, h2, h3, p {
  color: black;
  margin-top: 50px;
}

.style_all_website .form {
  color: black;
  margin-top: 50px;
  font-size: 16px;
}

.style_all_website h1 {
  font-size: 40px;
  font-weight: bold;
}

.style_all_website h2 {
  font-size: 32px;
}

.style_all_website h3 {
  font-size: 24px;
}

.style_all_website p {
  font-size: 16px;
}


